<h1>Survey stats</h1>

<h3><%= survey.title%></h3>

<h3><%= survey.description%></h3>

<img src="something"></img>

<%survey.questions.all.each do |question|%>
<ul>
  <%=question.content%>
  <% total = question.choices.inject(0) { |sum, choice| sum + choice.users.length }%>
  <%question.choices.each do |choice|%>
  <li><%=choice.content%></li>
  <li><%=choice.responses.length%> responses</li>
  <li><%=(choice.responses.length)*100/(total)%> %</li>

        
  <table width="330" border="0">
  <tr>
    <td colspan="11"><table width="<%=(choice.responses.length)*100/(total)*3%>" border="1" bordercolor="#CCCCFF" bgcolor="#CCCCFF">
        <tr  bgcolor="#CC66FF">
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr bgcolor="#CC66FF">
          <td></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="30"><div align="left">|0</div></td>
    <td width="30"><div align="left">|10</div></td>
    <td width="30"><div align="left">|20</div></td>
    <td width="30"><div align="left">|30</div></td>
    <td width="30"><div align="left">|40</div></td>
    <td width="30"><div align="left">|50</div></td>
    <td width="30"><div align="left">|60</div></td>
    <td width="30"><div align="left">|70</div></td>
    <td width="30"><div align="left">|80</div></td>
    <td width="30"><div align="left">|90</div></td>
    <td width="30"><div align="left">|100</div></td>
  </tr>
</table>
  <%end%>
</ul>


 <p> <%=total%>Total Responses</p>

 
  
<%end%>

